<div id="mesas" class="seccion">

    <h1>🪑 Gestión de Mesas</h1>

    <button class="btn-agregar">➕ Añadir Mesa</button>

    <table>

        <tr>
            <th>ID</th>
            <th>Mesa</th>
            <th>Capacidad</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>

        <tr>
            <td>1</td>
            <td>Mesa 1</td>
            <td>4 Personas</td>
            <td>Libre</td>
            <td>
                <button class="btn-editar">Editar</button>
                <button class="btn-eliminar">Eliminar</button>
            </td>
        </tr>

        <tr>
            <td>2</td>
            <td>Mesa 2</td>
            <td>6 Personas</td>
            <td style="color:red;">Ocupada</td>
            <td>
                <button class="btn-editar">Editar</button>
                <button class="btn-eliminar">Eliminar</button>
            </td>
        </tr>

    </table>

</div>