<div id="pedidos" class="seccion">

    <h1>🛒 Gestión de Pedidos</h1>

    <button class="btn-agregar">➕ Nuevo Pedido</button>

    <table>

        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Mesa</th>
            <th>Total</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>

        <tr>
            <td>001</td>
            <td>Carlos Pérez</td>
            <td>4</td>
            <td>120 Bs</td>
            <td>Pendiente</td>
            <td>
                <button class="btn-editar">Editar</button>
                <button class="btn-eliminar">Eliminar</button>
            </td>
        </tr>

    </table>

</div>