<div id="ventas" class="seccion">

    <h1>💰 Registro de Ventas</h1>

    <table>

        <tr>
            <th>ID Venta</th>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Monto</th>
            <th>Método Pago</th>
        </tr>

        <tr>
            <td>V001</td>
            <td>11/06/2026</td>
            <td>Carlos Pérez</td>
            <td>120 Bs</td>
            <td>Efectivo</td>
        </tr>

        <tr>
            <td>V002</td>
            <td>11/06/2026</td>
            <td>Ana López</td>
            <td>80 Bs</td>
            <td>QR</td>
        </tr>

    </table>

</div>